apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ include "openobserve-collector.fullname" . }}-gateway
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "openobserve-collector.labels" . | nindent 4 }}
spec:
  mode: statefulset
  targetAllocator:
    enabled: {{ .Values.gateway.targetAllocator.enabled }}
    serviceAccount: {{ include "openobserve-collector.serviceAccountName" . }}
    prometheusCR:
      enabled: true
  serviceAccount: {{ include "openobserve-collector.serviceAccountName" . }}
  image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
  env:
    - name: K8S_NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
  {{- with .Values.gateway.tolerations }}
  tolerations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.gateway.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.gateway.affinity }}
  affinity:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  resources: {{ .Values.gateway.resources | toYaml | nindent 4 }}
  
  # targetAllocator:
  #   enabled: true
  #   prometheusCR:
  # enabled: true
  # namespace: openobserve-collector
  # name: prometheus
  # port: 8888
  config:
    receivers:
{{ toYaml .Values.gateway.receivers | indent 6 }}
    connectors:
{{ toYaml .Values.gateway.connectors | indent 6 }}
    processors:
{{ toYaml .Values.gateway.processors | indent 6 }}
    extensions:
{{ toYaml .Values.gateway.extensions | indent 6 }}
    exporters:
{{ toYaml .Values.exporters | indent 6 }}
    service:
{{ toYaml .Values.gateway.service | indent 6 }}