apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "openobserve.fullname" . }}-ingester
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "openobserve.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.ingester.enabled }}
  replicas: {{ .Values.replicaCount.ingester }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "openobserve.selectorLabels" . | nindent 6 }}
      role: ingester
  serviceName: {{ include "openobserve.fullname" . }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "openobserve.selectorLabels" . | nindent 8 }}
        role: ingester
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "openobserve.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      
      initContainers:
        {{- if and .Values.ingester.persistence.volumePermissions.enabled .Values.ingester.persistence.enabled }}
        - name: volume-permissions
          image: busybox:latest
          imagePullPolicy: IfNotPresent
          command:
            - /bin/sh
            - -c
            - |
              chown -R {{ .Values.podSecurityContext.runAsUser }}:{{ .Values.podSecurityContext.fsGroup }} /data
          securityContext:
            runAsUser: 0
            runAsNonRoot: false
          volumeMounts:
            - name: data
              mountPath: /data
        {{- end }}
        - name: check-etcd
          image: busybox
          command: ['sh', '-c', '
            until nc -z {{ .Release.Name }}-etcd 2379; do
              echo "Waiting for etcd to be ready";
              sleep 5;
            done;
          ']
      containers:
        - name: {{ .Chart.Name }}-ingester
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.enterprise.enabled }}
          image: "{{ .Values.image.enterprise.repository }}:{{ .Values.image.enterprise.tag | default .Chart.AppVersion }}"
          {{- else }}
          image: "{{ .Values.image.oss.repository }}:{{ .Values.image.oss.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5080
              name: http
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          resources:
            {{- toYaml .Values.resources.ingester | nindent 12 }}
          envFrom:
            - secretRef:
                name: {{ include "openobserve.fullname" . }}
            - configMapRef:
                name: {{ include "openobserve.fullname" . }}
          env:
            - name: ZO_NODE_ROLE
              value: "ingester"
            {{- if and .Values.ingester.sidecar.enabled }}
            - name: ZO_INGESTER_SIDECAR_ENABLED
              value: "true"
            - name: ZO_INGESTER_SIDECAR_QUERIER
              value: "false"
            {{- end }}
            {{- with .Values.extraEnv }}
            {{- toYaml . |  nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: data
              mountPath: /data
        {{- if and .Values.ingester.sidecar.enabled }}
        - name: {{ .Chart.Name }}-querier
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.oss.repository }}:{{ .Values.image.oss.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 50800
              name: http-q
            - containerPort: 50810
              name: grpc-q
          {{- if .Values.probes.ingester.enabled }}
          livenessProbe:
           httpGet:
             path: /healthz
             port: http-q
           initialDelaySeconds: {{ .Values.probes.ingester.initialDelaySeconds | default 10 }}
           failureThreshold: {{ .Values.probes.ingester.failureThreshold | default 3 }}
          readinessProbe:
           httpGet:
             path: /healthz
             port: http-q
           initialDelaySeconds: {{ .Values.probes.ingester.initialDelaySeconds | default 10 }}
           failureThreshold: {{ .Values.probes.ingester.failureThreshold | default 3 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources.ingester | nindent 12 }}
          envFrom:
            - secretRef:
                name: {{ include "openobserve.fullname" . }}
            - configMapRef:
                name: {{ include "openobserve.fullname" . }}
          env:
            - name: ZO_NODE_ROLE
              value: "ingester"
            - name: ZO_INGESTER_SIDECAR_ENABLED
              value: "true"
            - name: ZO_INGESTER_SIDECAR_QUERIER
              value: "true"
            - name: ZO_HTTP_PORT
              value: "50800"
            - name: ZO_GRPC_PORT
              value: "50810"
            {{- with .Values.extraEnv }}
            {{- toYaml . |  nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: data
              mountPath: /data
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations.ingester }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      {{- range .Values.ingester.persistence.accessModes }}
        - {{ . | quote }}
      {{- end }}
      storageClassName: {{ .Values.ingester.persistence.storageClass }}
      resources:
        requests:
          storage: {{ .Values.ingester.persistence.size | quote }}
