apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openobserve.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "openobserve.labels" . | nindent 4 }}
data:
  ZO_APP_NAME: "{{ .Values.config.ZO_APP_NAME }}"
  ZO_CLUSTER_NAME: "{{ .Values.config.ZO_CLUSTER_NAME }}"
  ZO_INSTANCE_NAME: "{{ .Values.config.ZO_INSTANCE_NAME }}"
  ZO_NODE_ROLE: "{{ .Values.config.ZO_NODE_ROLE }}"
  ZO_LOCAL_MODE: "{{ .Values.config.ZO_LOCAL_MODE }}"
  ZO_LOCAL_MODE_STORAGE: "{{ .Values.config.ZO_LOCAL_MODE_STORAGE }}"
  ZO_HTTP_PORT: "{{ .Values.config.ZO_HTTP_PORT }}"
  ZO_HTTP_ADDR: "{{ .Values.config.ZO_HTTP_ADDR }}"
  ZO_HTTP_IPV6_ENABLED: "{{ .Values.config.ZO_HTTP_IPV6_ENABLED }}"
  ZO_GRPC_PORT: "{{ .Values.config.ZO_GRPC_PORT }}"
  ZO_GRPC_ADDR: "{{ .Values.config.ZO_GRPC_ADDR }}"
  ZO_GRPC_TIMEOUT: "{{ .Values.config.ZO_GRPC_TIMEOUT }}"
  ZO_GRPC_MAX_MESSAGE_SIZE: "{{ .Values.config.ZO_GRPC_MAX_MESSAGE_SIZE }}"
  ZO_GRPC_ORG_HEADER_KEY: "{{ .Values.config.ZO_GRPC_ORG_HEADER_KEY }}"
  ZO_GRPC_STREAM_HEADER_KEY: "{{ .Values.config.ZO_GRPC_STREAM_HEADER_KEY }}"
  ZO_INTERNAL_GRPC_TOKEN: "{{ .Values.config.ZO_INTERNAL_GRPC_TOKEN }}"
  ZO_TCP_PORT: "{{ .Values.config.ZO_TCP_PORT }}"
  ZO_UDP_PORT: "{{ .Values.config.ZO_UDP_PORT }}"
  ZO_DATA_DIR: "{{ .Values.config.ZO_DATA_DIR }}"
  ZO_DATA_DB_DIR: "{{ .Values.config.ZO_DATA_DB_DIR }}"
  ZO_DATA_WAL_DIR: "{{ .Values.config.ZO_DATA_WAL_DIR }}"
  ZO_DATA_IDX_DIR: "{{ .Values.config.ZO_DATA_IDX_DIR }}"
  ZO_DATA_STREAM_DIR: "{{ .Values.config.ZO_DATA_STREAM_DIR }}"
  ZO_DATA_CACHE_DIR: "{{ .Values.config.ZO_DATA_CACHE_DIR }}"
  ZO_UI_ENABLED: "{{ .Values.config.ZO_UI_ENABLED }}"
  ZO_UI_SQL_BASE64_ENABLED: "{{ .Values.config.ZO_UI_SQL_BASE64_ENABLED }}"
  ZO_WEB_URL: "{{ .Values.config.ZO_WEB_URL }}"
  ZO_BASE_URI: "{{ .Values.config.ZO_BASE_URI }}"
  ZO_META_STORE: "{{ .Values.config.ZO_META_STORE }}"
  ZO_META_POSTGRES_DSN: "{{ .Values.config.ZO_META_POSTGRES_DSN }}"
  ZO_META_MYSQL_DSN: "{{ .Values.config.ZO_META_MYSQL_DSN }}"
  ZO_META_CONNECTION_POOL_MIN_SIZE: "{{ .Values.config.ZO_META_CONNECTION_POOL_MIN_SIZE }}"
  ZO_META_CONNECTION_POOL_MAX_SIZE: "{{ .Values.config.ZO_META_CONNECTION_POOL_MAX_SIZE }}"
  ZO_META_TRANSACTION_RETRIES: "{{ .Values.config.ZO_META_TRANSACTION_RETRIES }}"
  ZO_META_TRANSACTION_LOCK_TIMEOUT: "{{ .Values.config.ZO_META_TRANSACTION_LOCK_TIMEOUT }}"
  ZO_COLUMN_TIMESTAMP: "{{ .Values.config.ZO_COLUMN_TIMESTAMP }}"
  ZO_COLS_PER_RECORD_LIMIT: "{{ .Values.config.ZO_COLS_PER_RECORD_LIMIT }}"
  ZO_WIDENING_SCHEMA_EVOLUTION: "{{ .Values.config.ZO_WIDENING_SCHEMA_EVOLUTION }}"
  ZO_SKIP_SCHEMA_VALIDATION: "{{ .Values.config.ZO_SKIP_SCHEMA_VALIDATION }}"
  ZO_FEATURE_FULLTEXT_EXTRA_FIELDS: "{{ .Values.config.ZO_FEATURE_FULLTEXT_EXTRA_FIELDS }}"
  ZO_FEATURE_DISTINCT_EXTRA_FIELDS: "{{ .Values.config.ZO_FEATURE_DISTINCT_EXTRA_FIELDS }}"
  ZO_FEATURE_FILELIST_DEDUP_ENABLED: "{{ .Values.config.ZO_FEATURE_FILELIST_DEDUP_ENABLED }}"
  ZO_FEATURE_QUERY_QUEUE_ENABLED: "{{ .Values.config.ZO_FEATURE_QUERY_QUEUE_ENABLED }}"
  ZO_FEATURE_QUERY_PARTITION_STRATEGY: "{{ .Values.config.ZO_FEATURE_QUERY_PARTITION_STRATEGY }}"
  ZO_FEATURE_QUERY_INFER_SCHEMA: "{{ .Values.config.ZO_FEATURE_QUERY_INFER_SCHEMA }}"
  ZO_FEATURE_QUICK_MODE_FIELDS: "{{ .Values.config.ZO_FEATURE_QUICK_MODE_FIELDS }}"
  ZO_QUERY_OPTIMIZATION_NUM_FIELDS: "{{ .Values.config.ZO_QUERY_OPTIMIZATION_NUM_FIELDS }}"
  ZO_QUICK_MODE_NUM_FIELDS: "{{ .Values.config.ZO_QUICK_MODE_NUM_FIELDS }}"
  ZO_QUICK_MODE_STRATEGY: "{{ .Values.config.ZO_QUICK_MODE_STRATEGY }}"
  ZO_QUICK_MODE_FILE_LIST_ENABLED: "{{ .Values.config.ZO_QUICK_MODE_FILE_LIST_ENABLED }}"
  ZO_QUICK_MODE_FILE_LIST_INTERVAL: "{{ .Values.config.ZO_QUICK_MODE_FILE_LIST_INTERVAL }}"
  ZO_BLOOM_FILTER_ENABLED: "{{ .Values.config.ZO_BLOOM_FILTER_ENABLED }}"
  ZO_BLOOM_FILTER_DEFAULT_FIELDS: "{{ .Values.config.ZO_BLOOM_FILTER_DEFAULT_FIELDS }}"
  ZO_ENABLE_INVERTED_INDEX: "{{ .Values.config.ZO_ENABLE_INVERTED_INDEX }}"
  ZO_INVERTED_INDEX_SPLIT_CHARS: "{{ .Values.config.ZO_INVERTED_INDEX_SPLIT_CHARS }}"
  ZO_FULL_TEXT_SEARCH_TYPE: "{{ .Values.config.ZO_FULL_TEXT_SEARCH_TYPE }}"
  ZO_QUERY_ON_STREAM_SELECTION: "{{ .Values.config.ZO_QUERY_ON_STREAM_SELECTION }}"
  ZO_DISTINCT_VALUES_INTERVAL: "{{ .Values.config.ZO_DISTINCT_VALUES_INTERVAL }}"
  ZO_DISTINCT_VALUES_HOURLY: "{{ .Values.config.ZO_DISTINCT_VALUES_HOURLY }}"
  ZO_TRACING_ENABLED: "{{ .Values.config.ZO_TRACING_ENABLED }}"
  ZO_TRACING_SEARCH_ENABLED: "{{ .Values.config.ZO_TRACING_SEARCH_ENABLED }}"
  ZO_TRACING_HEADER_KEY: "{{ .Values.config.ZO_TRACING_HEADER_KEY }}"
  ZO_TRACING_HEADER_VALUE: "{{ .Values.config.ZO_TRACING_HEADER_VALUE }}"
  OTEL_OTLP_HTTP_ENDPOINT: "{{ .Values.config.OTEL_OTLP_HTTP_ENDPOINT }}"
  ZO_TELEMETRY: "{{ .Values.config.ZO_TELEMETRY }}"
  ZO_TELEMETRY_HEARTBEAT: "{{ .Values.config.ZO_TELEMETRY_HEARTBEAT }}"
  ZO_TELEMETRY_URL: "{{ .Values.config.ZO_TELEMETRY_URL }}"
  ZO_JSON_LIMIT: "{{ .Values.config.ZO_JSON_LIMIT }}"
  ZO_PAYLOAD_LIMIT: "{{ .Values.config.ZO_PAYLOAD_LIMIT }}"
  ZO_PARQUET_MAX_ROW_GROUP_SIZE: "{{ .Values.config.ZO_PARQUET_MAX_ROW_GROUP_SIZE }}"
  ZO_MAX_FILE_SIZE_ON_DISK: "{{ .Values.config.ZO_MAX_FILE_SIZE_ON_DISK }}"
  ZO_MAX_FILE_SIZE_IN_MEMORY: "{{ .Values.config.ZO_MAX_FILE_SIZE_IN_MEMORY }}"
  ZO_MAX_FILE_RETENTION_TIME: "{{ .Values.config.ZO_MAX_FILE_RETENTION_TIME }}"
  ZO_FILE_PUSH_INTERVAL: "{{ .Values.config.ZO_FILE_PUSH_INTERVAL }}"
  ZO_FILE_PUSH_LIMIT: "{{ .Values.config.ZO_FILE_PUSH_LIMIT }}"
  ZO_FILE_MOVE_THREAD_NUM: "{{ .Values.config.ZO_FILE_MOVE_THREAD_NUM }}"
  ZO_FILE_MERGE_THREAD_NUM: "{{ .Values.config.ZO_FILE_MERGE_THREAD_NUM }}"
  ZO_MEM_DUMP_THREAD_NUM: "{{ .Values.config.ZO_MEM_DUMP_THREAD_NUM }}"
  ZO_MEM_TABLE_MAX_SIZE: "{{ .Values.config.ZO_MEM_TABLE_MAX_SIZE }}"
  ZO_MEM_PERSIST_INTERVAL: "{{ .Values.config.ZO_MEM_PERSIST_INTERVAL }}"
  ZO_ENRICHMENT_TABLE_LIMIT: "{{ .Values.config.ZO_ENRICHMENT_TABLE_LIMIT }}"
  ZO_QUERY_THREAD_NUM: "{{ .Values.config.ZO_QUERY_THREAD_NUM }}"
  ZO_QUERY_TIMEOUT: "{{ .Values.config.ZO_QUERY_TIMEOUT }}"
  ZO_ROUTE_TIMEOUT: "{{ .Values.config.ZO_ROUTE_TIMEOUT }}"
  ZO_ROUTE_MAX_CONNECTIONS: "{{ .Values.config.ZO_ROUTE_MAX_CONNECTIONS }}"
  ZO_HTTP_WORKER_NUM: "{{ .Values.config.ZO_HTTP_WORKER_NUM }}"
  ZO_HTTP_WORKER_MAX_BLOCKING: "{{ .Values.config.ZO_HTTP_WORKER_MAX_BLOCKING }}"
  ZO_ACTIX_REQ_TIMEOUT: "{{ .Values.config.ZO_ACTIX_REQ_TIMEOUT }}"
  ZO_ACTIX_KEEP_ALIVE: "{{ .Values.config.ZO_ACTIX_KEEP_ALIVE }}"
  ZO_ACTIX_SHUTDOWN_TIMEOUT: "{{ .Values.config.ZO_ACTIX_SHUTDOWN_TIMEOUT }}"
  ZO_INGEST_ALLOWED_UPTO: "{{ .Values.config.ZO_INGEST_ALLOWED_UPTO }}"
  ZO_INGEST_FLATTEN_LEVEL: "{{ .Values.config.ZO_INGEST_FLATTEN_LEVEL }}"
  ZO_LOGS_FILE_RETENTION: "{{ .Values.config.ZO_LOGS_FILE_RETENTION }}"
  ZO_TRACES_FILE_RETENTION: "{{ .Values.config.ZO_TRACES_FILE_RETENTION }}"
  ZO_METRICS_FILE_RETENTION: "{{ .Values.config.ZO_METRICS_FILE_RETENTION }}"
  ZO_METRICS_DEDUP_ENABLED: "{{ .Values.config.ZO_METRICS_DEDUP_ENABLED }}"
  ZO_METRICS_LEADER_PUSH_INTERVAL: "{{ .Values.config.ZO_METRICS_LEADER_PUSH_INTERVAL }}"
  ZO_METRICS_LEADER_ELECTION_INTERVAL: "{{ .Values.config.ZO_METRICS_LEADER_ELECTION_INTERVAL }}"
  ZO_PROMETHEUS_HA_CLUSTER: "{{ .Values.config.ZO_PROMETHEUS_HA_CLUSTER }}"
  ZO_PROMETHEUS_HA_REPLICA: "{{ .Values.config.ZO_PROMETHEUS_HA_REPLICA }}"
  ZO_COMPACT_ENABLED: "{{ .Values.config.ZO_COMPACT_ENABLED }}"
  ZO_COMPACT_INTERVAL: "{{ .Values.config.ZO_COMPACT_INTERVAL }}"
  ZO_COMPACT_SYNC_TO_DB_INTERVAL: "{{ .Values.config.ZO_COMPACT_SYNC_TO_DB_INTERVAL }}"
  ZO_COMPACT_STRATEGY: "{{ .Values.config.ZO_COMPACT_STRATEGY }}"
  ZO_COMPACT_MAX_FILE_SIZE: "{{ .Values.config.ZO_COMPACT_MAX_FILE_SIZE }}"
  ZO_COMPACT_DATA_RETENTION_DAYS: "{{ .Values.config.ZO_COMPACT_DATA_RETENTION_DAYS }}"
  ZO_COMPACT_DELETE_FILES_DELAY_HOURS: "{{ .Values.config.ZO_COMPACT_DELETE_FILES_DELAY_HOURS }}"
  ZO_COMPACT_BATCH_SIZE: "{{ .Values.config.ZO_COMPACT_BATCH_SIZE }}"
  ZO_COMPACT_BLOCKED_ORGS: "{{ .Values.config.ZO_COMPACT_BLOCKED_ORGS }}"
  ZO_MEMORY_CACHE_ENABLED: "{{ .Values.config.ZO_MEMORY_CACHE_ENABLED }}"
  ZO_MEMORY_CACHE_STRATEGY: "{{ .Values.config.ZO_MEMORY_CACHE_STRATEGY }}"
  ZO_MEMORY_CACHE_CACHE_LATEST_FILES: "{{ .Values.config.ZO_MEMORY_CACHE_CACHE_LATEST_FILES }}"
  ZO_MEMORY_CACHE_MAX_SIZE: "{{ .Values.config.ZO_MEMORY_CACHE_MAX_SIZE }}"
  ZO_MEMORY_CACHE_SKIP_SIZE: "{{ .Values.config.ZO_MEMORY_CACHE_SKIP_SIZE }}"
  ZO_MEMORY_CACHE_RELEASE_SIZE: "{{ .Values.config.ZO_MEMORY_CACHE_RELEASE_SIZE }}"
  ZO_MEMORY_CACHE_GC_SIZE: "{{ .Values.config.ZO_MEMORY_CACHE_GC_SIZE }}"
  ZO_MEMORY_CACHE_GC_INTERVAL: "{{ .Values.config.ZO_MEMORY_CACHE_GC_INTERVAL }}"
  ZO_MEMORY_CACHE_DATAFUSION_MEMORY_POOL: "{{ .Values.config.ZO_MEMORY_CACHE_DATAFUSION_MEMORY_POOL }}"
  ZO_MEMORY_CACHE_DATAFUSION_MAX_SIZE: "{{ .Values.config.ZO_MEMORY_CACHE_DATAFUSION_MAX_SIZE }}"
  ZO_DISK_CACHE_ENABLED: "{{ .Values.config.ZO_DISK_CACHE_ENABLED }}"
  ZO_DISK_CACHE_STRATEGY: "{{ .Values.config.ZO_DISK_CACHE_STRATEGY }}"
  ZO_DISK_CACHE_MAX_SIZE: "{{ .Values.config.ZO_DISK_CACHE_MAX_SIZE }}"
  ZO_DISK_CACHE_SKIP_SIZE: "{{ .Values.config.ZO_DISK_CACHE_SKIP_SIZE }}"
  ZO_DISK_CACHE_RELEASE_SIZE: "{{ .Values.config.ZO_DISK_CACHE_RELEASE_SIZE }}"
  ZO_DISK_CACHE_GC_SIZE: "{{ .Values.config.ZO_DISK_CACHE_GC_SIZE }}"
  ZO_DISK_CACHE_GC_INTERVAL: "{{ .Values.config.ZO_DISK_CACHE_GC_INTERVAL }}"
  ZO_S3_PROVIDER: "{{ .Values.config.ZO_S3_PROVIDER }}"
  {{- if .Values.minio.enabled }}
  ZO_S3_PROVIDER: "minio"
  {{- end }}
  {{- if not .Values.minio.enabled }}
  ZO_S3_SERVER_URL: "{{ .Values.config.ZO_S3_SERVER_URL }}"
  {{- else }}
  ZO_S3_SERVER_URL: "http://{{ .Release.Name }}-minio.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:9000"
  {{- end }}
  {{- if not .Values.minio.enabled }}
  ZO_S3_REGION_NAME: "{{ .Values.config.ZO_S3_REGION_NAME }}"
  {{- else }}
  ZO_S3_REGION_NAME: "us-east-1"
  {{- end }}
  {{- if not .Values.minio.enabled }}
  ZO_S3_BUCKET_NAME: "{{ .Values.config.ZO_S3_BUCKET_NAME }}"
  {{- else }}
  ZO_S3_BUCKET_NAME: "{{ (index .Values.minio.buckets 0 ).name }}"
  {{- end }}
  ZO_S3_BUCKET_PREFIX: "{{ .Values.config.ZO_S3_BUCKET_PREFIX }}"
  ZO_S3_CONNECT_TIMEOUT: "{{ .Values.config.ZO_S3_CONNECT_TIMEOUT }}"
  ZO_S3_REQUEST_TIMEOUT: "{{ .Values.config.ZO_S3_REQUEST_TIMEOUT }}"
  ZO_S3_FEATURE_FORCE_PATH_STYLE: "{{ .Values.config.ZO_S3_FEATURE_FORCE_PATH_STYLE }}"
  ZO_S3_FEATURE_FORCE_HOSTED_STYLE: "{{ .Values.config.ZO_S3_FEATURE_FORCE_HOSTED_STYLE }}"
  ZO_S3_FEATURE_HTTP1_ONLY: "{{ .Values.config.ZO_S3_FEATURE_HTTP1_ONLY }}"
  ZO_S3_FEATURE_HTTP2_ONLY: "{{ .Values.config.ZO_S3_FEATURE_HTTP2_ONLY }}"
  ZO_S3_ALLOW_INVALID_CERTIFICATES: "{{ .Values.config.ZO_S3_ALLOW_INVALID_CERTIFICATES }}"
  ZO_S3_SYNC_TO_CACHE_INTERVAL: "{{ .Values.config.ZO_S3_SYNC_TO_CACHE_INTERVAL }}"
  ZO_S3_MAX_RETRIES: "{{ .Values.config.ZO_S3_MAX_RETRIES }}"
  ZO_S3_MAX_IDLE_PER_HOST: "{{ .Values.config.ZO_S3_MAX_IDLE_PER_HOST }}"
  ZO_USAGE_REPORTING_ENABLED: "{{ .Values.config.ZO_USAGE_REPORTING_ENABLED }}"
  ZO_USAGE_REPORTING_MODE: "{{ .Values.config.ZO_USAGE_REPORTING_MODE }}"
  ZO_USAGE_REPORTING_URL: "{{ .Values.config.ZO_USAGE_REPORTING_URL }}"
  ZO_USAGE_REPORTING_CREDS: "{{ .Values.config.ZO_USAGE_REPORTING_CREDS }}"
  ZO_USAGE_ORG: "{{ .Values.config.ZO_USAGE_ORG }}"
  ZO_USAGE_BATCH_SIZE: "{{ .Values.config.ZO_USAGE_BATCH_SIZE }}"
  ZO_PRINT_KEY_CONFIG: "{{ .Values.config.ZO_PRINT_KEY_CONFIG }}"
  ZO_PRINT_KEY_EVENT: "{{ .Values.config.ZO_PRINT_KEY_EVENT }}"
  ZO_PRINT_KEY_SQL: "{{ .Values.config.ZO_PRINT_KEY_SQL }}"
  ZO_INGESTER_SERVICE_URL: "{{ .Values.config.ZO_INGESTER_SERVICE_URL }}"
  ZO_IGNORE_FILE_RETENTION_BY_STREAM: "{{ .Values.config.ZO_IGNORE_FILE_RETENTION_BY_STREAM }}"
  ZO_RUM_ENABLED: "{{ .Values.config.ZO_RUM_ENABLED }}"
  ZO_RUM_CLIENT_TOKEN: "{{ .Values.config.ZO_RUM_CLIENT_TOKEN }}"
  ZO_RUM_APPLICATION_ID: "{{ .Values.config.ZO_RUM_APPLICATION_ID }}"
  ZO_RUM_SERVICE: "{{ .Values.config.ZO_RUM_SERVICE }}"
  ZO_RUM_ENV: "{{ .Values.config.ZO_RUM_ENV }}"
  ZO_RUM_VERSION: "{{ .Values.config.ZO_RUM_VERSION }}"
  ZO_RUM_ORGANIZATION_IDENTIFIER: "{{ .Values.config.ZO_RUM_ORGANIZATION_IDENTIFIER }}"
  ZO_RUM_API_VERSION: "{{ .Values.config.ZO_RUM_API_VERSION }}"
  ZO_RUM_INSECURE_HTTP: "{{ .Values.config.ZO_RUM_INSECURE_HTTP }}"
  ZO_RUM_SITE: "{{ .Values.config.ZO_RUM_SITE }}"
  ZO_COOKIE_MAX_AGE: "{{ .Values.config.ZO_COOKIE_MAX_AGE }}"
  ZO_COOKIE_SAME_SITE_LAX: "{{ .Values.config.ZO_COOKIE_SAME_SITE_LAX }}"
  ZO_COOKIE_SECURE_ONLY: "{{ .Values.config.ZO_COOKIE_SECURE_ONLY }}"
  ZO_PROF_PYROSCOPE_ENABLED: "{{ .Values.config.ZO_PROF_PYROSCOPE_ENABLED }}"
  ZO_PROF_PYROSCOPE_SERVER_URL: "{{ .Values.config.ZO_PROF_PYROSCOPE_SERVER_URL }}"
  ZO_PROF_PYROSCOPE_PROJECT_NAME: "{{ .Values.config.ZO_PROF_PYROSCOPE_PROJECT_NAME }}"
  ZO_ENTRY_PER_SCHEMA_VERSION_ENABLED: "{{ .Values.config.ZO_ENTRY_PER_SCHEMA_VERSION_ENABLED }}"
  RUST_LOG: "{{ .Values.config.RUST_LOG }}"
  RUST_BACKTRACE: "{{ .Values.config.RUST_BACKTRACE }}"
