apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openobserve.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "openobserve.labels" . | nindent 4 }}
  {{- with .Values.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{- if not .Values.auth.existingRootUserSecret.name }}
  ZO_ROOT_USER_EMAIL: "{{ .Values.auth.ZO_ROOT_USER_EMAIL }}"
  ZO_ROOT_USER_PASSWORD: "{{ .Values.auth.ZO_ROOT_USER_PASSWORD }}"
  ZO_ROOT_USER_TOKEN: "{{ .Values.auth.ZO_ROOT_USER_TOKEN }}"
  {{- end }}
  {{- if not .Values.minio.enabled }}
  ZO_S3_ACCESS_KEY: "{{ .Values.auth.ZO_S3_ACCESS_KEY }}"
  {{- else }}
  ZO_S3_ACCESS_KEY: "{{ .Values.minio.rootUser }}"
  {{- end }}
  {{- if not .Values.minio.enabled }}
  ZO_S3_SECRET_KEY: "{{ .Values.auth.ZO_S3_SECRET_KEY }}"
  {{- else }}
  ZO_S3_SECRET_KEY: "{{ .Values.minio.rootPassword }}"
  {{- end }}
  {{- if eq .Values.config.ZO_S3_PROVIDER "azure" }}
  {{- if .Values.auth.AZURE_STORAGE_ACCOUNT_KEY }}
  AZURE_STORAGE_ACCOUNT_KEY: "{{ .Values.auth.AZURE_STORAGE_ACCOUNT_KEY }}"
  AZURE_STORAGE_ACCOUNT_NAME: "{{ .Values.auth.AZURE_STORAGE_ACCOUNT_NAME }}"  
  {{- else }}
  AZURE_STORAGE_ACCOUNT_KEY: "{{ .Values.config.AZURE_STORAGE_ACCOUNT_KEY }}"
  AZURE_STORAGE_ACCOUNT_NAME: "{{ .Values.config.AZURE_STORAGE_ACCOUNT_NAME }}"  
  {{- end }}
  {{- end }}
  {{- if .Values.enterprise.enabled }}
  {{- if .Values.auth.O2_AI_API_KEY }}
  O2_AI_API_KEY: "{{ .Values.auth.O2_AI_API_KEY }}"
  {{- end }}
  {{- if .Values.auth.O2_MCP_USERNAME }}
  O2_MCP_USERNAME: "{{ .Values.auth.O2_MCP_USERNAME }}"
  {{- end }}
  {{- if .Values.auth.O2_MCP_PASSWORD }}
  O2_MCP_PASSWORD: "{{ .Values.auth.O2_MCP_PASSWORD }}"
  {{- end }}
  {{- end }}
