name: Publish Helm Chart

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  publish:
    runs-on: org-openobserve-standard-4
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::058694856476:role/GitHubActionsRole
          aws-region: us-east-2

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: 'latest'

      - name: Download existing index.yaml
        run: |
          aws s3 cp s3://zincsearch-releases/chartsv2/index.yaml . || echo "No existing index.yaml found"

      - name: Package Helm charts
        run: |
          for d in charts/* ; do
            helm dependency update "$d"
            helm package "$d"
          done

      - name: Create Helm repo index
        run: |
          helm repo index --merge index.yaml .

      - name: Upload charts to S3
        run: |
          aws s3 cp . s3://zincsearch-releases/chartsv2/ --recursive --exclude "*" --include "*.tgz"

      - name: Upload index.yaml to S3
        run: |
          aws s3 cp index.yaml s3://zincsearch-releases/chartsv2/

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id E1KAOPVKDAGD4X --paths="/*"

      - name: Cleanup
        run: |
          rm -f *.tgz
